*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding: 0 240px;
}
.btn1{
     
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    background: #F948B2;
    cursor: pointer;
}
.btn2{
     
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    background: #4EC5F7;
    cursor: pointer;
}






.nav-item{
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    
}
.nav-image{
    display: flex;
    width: 86.041px;
    height: 40px;
    padding-top: 49px;
    padding-bottom: 46px;
    padding-right:  20px;
}
.nav-logo p{
    color: #0B0223;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 700;
    
     
}
.nav-logo p span{
    color: #F948B2 ;
}

.nav-side > ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.nav-side > ul > li{
    padding-left: 32px;

}
.follow-btn{
    padding: 16px 24px 16px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 25px;
}
/* banner part start from here */
.banner{
    display: flex;
    justify-content: space-between;
    height: 700px;

}
.ban-text{
    padding-top: 148px;
    padding-bottom: 148px;
}
.ban-text > h3{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    
}
.ban-text > h1{
    color: #F948B2 ;
    text-align: center;
    font-size: 5.938rem;
    font-weight: 800;
}
.ban-para{
    color: #534C64;
    font-size: 1.24rem;
    font-weight: 500;
    margin-left: 18px;
}
.para{
   position: relative;
   padding-bottom: 17px;
   
}
.para i{
    position: absolute;
    left: -22px;
    top: 2px;

    

}
.ban-text-btn{
    padding-top: 41px;
}
.ban-text-btn button{
    padding-right: 24px;
    
}